.com-banner {
    background-image: url(../images/slider-c.png);
    background-position: center;
    background-size: cover;
    height: 430px;
}

.banner-bacground {
    background-color: rgba(0, 0, 0, 0.4) !important;
    width: 100%;
    height: 430px;
}

.baner-main {
    margin-left: 868px;
    text-align: center;
    padding-top: 180px;
}

.banner-com {
    width: 208px;
    height: 50px;
    border: 1px solid #eeeeee;
}

.banner-com p {
    color: #e2d1d1;
    font-weight: 500;
    font-size: 22px;
    transform: translateY(-12px);
}

.baner-text {
    text-align: left;
    font-size: 44px;
    color: #eeeeee;
    box-shadow: #222222 ;
    margin-left: 20px;
}

.baner-text p {
    margin-top: 30px;
    text-shadow: black 0.1em 0.2em 0.2em
}

/**breakcrumb  menu */
.breakcrumb {
    height: 35px;
    background: #eeeeee;
    width: 100%;
    margin: 54px 0 64px 0;

}

.breakcrumb-menu ul {
    margin-left: 370px;
    list-style: none;

}

.breakcrumb-menu ul li {
    display: inline-block;
    padding: 6px;
}

/*Conten */
.content-top h3 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif !important;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 24px;
}

.content-top span {
    font-size: 22px;
}

.navigation {

}

.navigation ul {
    list-style: none;
    width: 92%;
    margin: 46px 0 52px 0;
}

.navigation ul li {
    width: 66px;
    display: inline-block;
    border-bottom: 2px solid #222222;
}

.navigation ul li:last-child {
    border-bottom: 2px solid #fcd000;
}

.content-text p {
    margin: 6px;
}

/**maincontent */
.maincontent {
    text-align: center;
}

/**list image content company */
.content-list {
    width: 100%;
    height: 268px;
    margin-top: 48px;
}

.content-item {
    width: 351px;
    float: left;
    height: 268px;
    text-align: center;
}

.content-item:nth-child(2) {
    margin: 0 28px;
}

.list-img1, .list-img2, .list-img3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 268px;
    width: 100%;
}

.list-img1 {
    background-image: url(../images/main3.png);
}

.list-img2 {
    background-image: url(../images/main2.png);
}

.list-img3 {
    background-image: url(../images/main1.png);
}

.content-item .list-title {
    color: #eeeeee;
    font-size: 18px;
}

.content-item .list-title p {
    margin: 0;
    padding-top: 116px;
}

.content-item .list-title span {
    margin-top: 106px;
}

.content-item .list-title .title-span {
    padding-top: 104px !important;
}

@media all and (max-width: 452px) {
    .com-banner {
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }

    .banner-bacground {
        height: 200px !important;
    }

    .baner-main {
        margin-left: 36% !important;
        padding-top: 64px;
    }

    .banner-com {
        width: 40%;
        height: 30px !important;
    }

    .banner-com p {
        font-size: 14px;
        transform: translateY(-12px) !important
    }

    .baner-text {
        font-size: 22px;
        text-align: left;
        transform: translateX(-12px) !important
    }

    .baner-text p {
        margin-top: 6px;
    }

    .breakcrumb {
        margin: 0;
    }

    .maincontent {
        margin: 40px 0 50px 0;
    }

    .breakcrumb-menu ul {
        margin-left: 2%;
        padding: 0;
        margin-top: 0;
    }

    .content-top h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .navigation ul {
        margin: 12px 0 20px 0 !important;
        padding: 0;
    }

    .content-text {
        margin: 0 6%;
        text-align: left;
    }

    .content-list {
        height: auto;
        margin-top: 30px;
    }

    .content-item:nth-child(2) {
        margin: 30px 0;
    }

    .content-item {
        height: auto;
        float: none;
        width: auto;
    }

    .list-img1, .list-img2, .list-img3 {
        height: 140px;
        width: 60%;
        background-position: center top;
        margin-left: 20%;
    }

    .content-item .list-title p {
        font-size: 23px;
        padding-top: 56px;
    }

    .content-item .list-title .title-span {
        padding-top: 46px !important;
    }

}










